@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../abstract.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 582px;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #25252a;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.first {
  margin-left: 50px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.info {
  margin-left: 50px;
  margin-bottom: 10px;
  margin-right: 50px;
}

.last {
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}

.image {
  margin-right: 10px;
}

.child {
  float: left;
}

.images {
  flex-direction: column;
}

.biglist {
  flex-direction: row;
}

.address {
  margin-left: 50px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-1 {
  
  width: 256px;
  height: 84px;
  border: none;
  color: white;
  background-color: #25252a;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #ffcb05;
  transition: ease-out 0.3s;
  font-size: 1.3rem;
  outline: none;
}

.btn-1:hover {
  box-shadow: inset 300px 0 0 0 #ffcb05;
}
